
.pop-on-hover:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.portfolio-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me-section {
    background-color: #a6a6a6;
    color: white;
    padding: 7%;
}
.about-me-section h3.title{
    font-weight: bold;
    color: #343a40;
    font-size: 42px;
}
.about-me-section p{
    line-height: 30px;
    color: black;
}
.about-me-section .btn-container{
    margin-top: 102px;
}
.profile-image {
    width: 100%;
    max-width: 230px;
    border-radius: 50%;
}

.social-icons i {
    font-size: 24px;
    margin: 10px;
    color: black;
    transition: color 0.3s ease-in-out;
}

.social-icons i:hover {
    color: #6c757d;
}

.btn-custom {
    background-color: #343a40;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    padding: 10px 52px;
}

.btn-custom:hover {
    transform: scale(1.05);
    background-color: #212529;
    color: white;
}


.work-section {
    padding: 50px 0;
    background-color: #f0f9f6;
    text-align: center;
}

.work-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.portfolio-item {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #e0e0e0;
}

.portfolio-caption {
    padding: 15px;
    font-size: 1rem;
    font-weight: 500;
    color: #555;
}